/*? FORM  */

form {
  margin-top: 1rem;
  background: var(--color-darkblue-alpha);
  padding: 2rem 1.5rem;
  border-radius: 0.25rem;
}

input, textarea {
  color: inherit;
}

label,
input,
select,
textarea {
  display: block;
  width: 100%;
} 

input,
select {
  padding: 0.8rem;
  border-radius: 10px;
}

option {
  cursor: pointer;
}

.form-group {
  margin-bottom: 2rem;
}

form span {
  font-style: italic;
  font-size: 15px;
}

input[type='radio'],
input[type='checkbox'] {
  display: inline-block;
  width: fit-content;
  margin-left: 0.5rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
  vertical-align: text-bottom;
}

.radio-group label, .cb-group label {
  display: inline;
}

textarea {
  padding: 1rem;
}

input[type='submit'] {
  background-color: rgb(23, 196, 66);
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: rgb(20, 156, 54);
}
